<div class="header">
    <img src="../../assets/Web-Developer-Bootcamp-San-Francisco.jpeg" alt="">
    <h1 class="title">Javier Angulo De Luna</h1>
</div>
<div class="container">
    <div class="about-wrapper">

        <mat-card>
            <mat-card-title>Datos personales</mat-card-title>
            <mat-card-content>
                <p><strong>Email:</strong> javier.angulo.luna@gmail.com</p>
                <p><strong>Teléfono:</strong> 692007935</p>
                <p><strong>Fecha de nacimiento:</strong> 06/05/1989</p>
                <p><strong>Nacionalidad:</strong> Española</p>
                <p><strong>Funciones / Roles</strong></p>
                <ul>
                    <li>Desarrollador Móvil</li>
                    <li>Desarrollador Web</li>
                    <li>Programador</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Otros datos curriculares</mat-card-title>
            <mat-card-content>
                <p><strong>Situación laboral:</strong> Trabajando</p>
                <p><strong>Horario:</strong> Disponibilidad Absoluta</p>
                <p><strong>Disp. Viajes Trabajo:</strong> No</p>
                <p><strong>Disp. Cambio de Residencia:</strong> No</p>
                <p><strong>Carnet Conducir:</strong> Turismo/furgoneta</p>
                <p><strong>Vehículo propio:</strong> Turismo/furgoneta</p>
            </mat-card-content>
        </mat-card>

    </div>

    <div class="about-wrapper">

        <mat-card>
            <mat-card-title>Carta de presentación</mat-card-title>
            <mat-card-content>
                <p style="padding: 0 2rem;">
                    Desde temprana edad me enseñaron a programar y, después de completar el Bachillerato, decidí iniciar
                    el FP de Desarrollo de Aplicaciones Informáticas. Aunque no lo concluí ya que redirigí mi carrera
                    hacia el campo de la salud y la sanidad, que también es una de mis grandes pasiones.
                    <br><br>
                    Tras obtener mi título en Veterinaria, fundé una StartUp llamada Conet Mascotas. Durante este
                    tiempo, tuve la necesidad de retomar, reciclar y actualizar mis conocimientos en programación y
                    sistemas para satisfacer las necesidades de la empresa. Aquí, adquirí experiencia en Node.js,
                    TypeScript y Angular (en ese momento, en su versión 8), además de aplicar mis conocimientos en
                    WordPress, JavaScript, HTML y CSS. Ejercía el rol de CTO de la empresa, encargándome de la gestión
                    informática, desde el desarrollo web hasta la programación de aplicaciones internas y públicas, así
                    como la configuración del ERP (ZOHO), todo ello en conjunción con tareas de marketing.
                    Lamentablemente, la empresa tuvo que cerrar debido a la pandemia de COVID-19.
                    <br><br>
                    Después de trabajar en empleos convencionales durante un período, decidí regresar al mundo de la
                    programación. Continué aprendiendo Angular y manteniéndome actualizado con las nuevas versiones, y
                    también descubrí tecnologías como ngrx, rxjs y zod, mientras desarrollaba pequeñas aplicaciones de
                    prueba como proyectos personales.
                    <br><br>
                    En aproximadamente un año, desarrollé una plataforma para un proyecto emprendedor en calidad de mi
                    primer cliente serio. Este proyecto supuso un gran desafío, ya que no solo apliqué todo lo que había
                    aprendido de forma autodidacta, sino que también continué adquiriendo nuevos conocimientos.
                    Implementé la plataforma como un monolito con Nrwl, Angular 13 e Ionic, ya que involucraba varias
                    aplicaciones con componentes compartidos y servicios backend comunes, para el cual utilizé Firebase.
                    Este proyecto me brindó valiosa experiencia en la gestión de proyectos y requisitos, y junto con el
                    cliente, creamos un sistema de gestión de proyectos y requisitos en Notion.
                    <br><br>
                    Después de completar este proyecto, exploré el campo del Vehicule Routing Problem para un proyecto
                    de car sharing que, lamentablemente, no se llevó a cabo, pero me permitió adentrarme en el
                    desarrollo backend.
                    <br><br>
                    Luego, me sumergí en el desarrollo frontend de un comercio electrónico en Shopify, volviendo a
                    trabajar con Vanilla JavaScript, HTML y CSS, y adquiriendo conocimientos sobre Liquid y Shopify. Al
                    mismo tiempo, seguí la hoja de ruta de FrontEnd Developer ofrecida por OpenBootcamp y obtuve algunas
                    certificaciones adicionales de la misma plataforma.
                    <br><br>
                    Con la disrupción de los modelos GPT me dediqué a explorar las posibilidades que ofrecen los modelos
                    de lenguaje para su integración en aplicaciones y automatización de tareas. Publiqué mi primera
                    librería en npm (https://www.npmjs.com/package/json-gpt) y dedicé tiempo a experimentar con la idea
                    de convertir este potencial en un producto comercial, aunque este reto quedó eclipsado por la gran
                    ola de la inteligencia artificial.
                    <br><br>
                    En la actualidad, estoy en búsqueda de un empleo estable donde pueda aplicar mis conocimientos y
                    experiencia adquiridos a lo largo de estos años, seguir aprendiendo y contribuir a la creación de
                    soluciones tangibles que lleguen al mercado.
            </mat-card-content>
        </mat-card>

    </div>

    <div class="about-wrapper">

        <mat-card>
            <mat-card-title>Experiencias profesionales</mat-card-title>
            <mat-card-content>
                <p><strong>Noviembre 2022 - Actualmente</strong></p>
                <p><em>Desarrollador FrontEnd (Profesional Junior)</em></p>
                <p><strong>Simonetta Floral</strong></p>
                <p><em>Comercio-Distribución</em></p>
                <p>Desarrollo de FrontEnd en Shopify para tienda online: <a
                        href="https://simonettaforal.com/">https://simonettaforal.com/</a></p>
                <br><br>
                <p><strong>Enero 2022 - Diciembre 2022</strong></p>
                <p><em>Desarrollador FrontEnd + Director de Proyecto (Director de Obra/Proyecto)</em></p>
                <p><strong>Shopin</strong></p>
                <p><em>Comercio-Distribución</em></p>
                <p>Shopin es un proyecto de Startup basada en App. Fuí responsable de gestión del proyecto así como el
                    desarrollador único de la aplicación (Angular - Ionic) con back en Firebase.</p>
            </mat-card-content>
            <br><hr><br>
            <mat-card-title>Identidad digital</mat-card-title>
            <mat-card-content>
                <p>Github: <a href="https://github.com/javieranguloluna">https://github.com/javieranguloluna</a></p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Estudios y Cursos</mat-card-title>
            <mat-card-content>
                <p><strong>Septiembre 2008 - Julio 2009</strong></p>
                <p><em>FP I - Desarrollo de Aplicaciones Informáticas (DAI)</em></p>
                <p><strong>Centro:</strong> IES Clara del Rey</p>
                <p><strong>Madrid-España</strong></p>
                <p><em>*Solo cursado primer año!</em></p>
                <br><br>
                <p><strong>2023 OpenBootcamp Frontend Developer</strong></p>
                <p><em>Duración: 300 horas</em></p>
                <p>Javascript, HTML, CSS, Angular básico, React básico, git</p>

            </mat-card-content>
            <br><hr><br>
            <mat-card-title>Idiomas</mat-card-title>
            <mat-card-content>
                <p>Español</p>
                <ul>
                    <li>Nivel escrito: Excelente</li>
                    <li>Nivel hablado: Nativo</li>
                </ul>
                <p>Inglés</p>
                <ul>
                    <li>Nivel escrito: Medio</li>
                    <li>Nivel hablado: Elemental</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Perfil tecnológico</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <strong>JavaScript (Nivel Intermedio)</strong>
                        <br>Experiencia: 3 años | Últ. utilización: Actualmente
                    </li><br>
                    <li>
                        <strong>Typescript (Nivel Intermedio)</strong>
                        <br>Experiencia: 3 años | Últ. utilización: Actualmente
                    </li><br>
                    <li>
                        <strong>HTML (Nivel Intermedio)</strong>
                        <br>Experiencia: 3 años | Últ. utilización: Actualmente
                    </li><br>
                    <li>
                        <strong>CSS (Nivel Intermedio)</strong>
                        <br>Experiencia: 3 años | Últ. utilización: Actualmente
                    </li><br>
                    <li>
                        <strong>RXJS (Nivel Intermedio)</strong>
                        <br>Experiencia: 2 años | Últ. utilización: 6 Meses
                    </li><br>
                    <li>
                        <strong>NGRX (Nivel Intermedio)</strong>
                        <br>Experiencia: 1 año | Últ. utilización: 6 Meses
                    </li><br>
                    <li>
                        <strong>Shopify (Nivel Intermedio)</strong>
                        <br>Experiencia: 1 año | Últ. utilización: Actualmente
                    </li><br>
                    <li>
                        <strong>Wordpress (Nivel Básico)</strong>
                        <br>Experiencia: 2 años | Últ. utilización: 3 Años
                    </li><br>
                    <li>
                        <strong>Git (Nivel Intermedio)</strong>
                        <br>Experiencia: 2 años | Últ. utilización: Actualmente
                    </li><br>
                    <li>
                        <strong>NodeJs (Nivel Intermedio)</strong>
                        <br>Experiencia: 3 años | Últ. utilización: 6 Meses
                    </li><br>
                    <li>
                        <strong>Angular (Nivel Avanzado)</strong>
                        <br>Experiencia: 3 años | Últ. utilización: 6 Meses
                    </li><br>
                    <li>
                        <strong>Firebase (Nivel Intermedio)</strong>
                        <br>Experiencia: 2 años | Últ. utilización: 6 Meses
                    </li><br>
                    <li>
                        <strong>NestJs (Nivel Básico)</strong>
                        <br>Experiencia: &lt; 1 año | Últ. utilización: 1 Año
                    </li><br>
                    <li>
                        <strong>Ionic (Nivel Básico)</strong>
                        <br>Experiencia: 1 año | Últ. utilización: 6 Meses
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

    </div>


</div>