@import "variables";

.toolbar-spacer {
    flex: 1 1 auto;
}

button.menu {
    display: none;
}

.home {
    font-size: large;
}

.link {
    margin: 0 1rem;
}



@media screen and (max-width: $max-width-breakpoint) {
    button.menu {
        display: block;
    }
    .link {
        display: none;
    }
}