<div class="container">
    <h1>Desarrollador FrontEnd Especializado en Angular</h1>
    <p>
        ¡Bienvenido a mi mundo de desarrollo! Desde mis raíces en la programación hasta mi experiencia en el campo de la salud y la tecnología, he recorrido un viaje diverso. Con experiencia en Angular, Node.js, TypeScript y más, estoy comprometido con la creación de soluciones tecnológicas innovadoras. Explore mi trayectoria desde la creación de una StartUp hasta el desarrollo de proyectos desafiantes y la exploración de la inteligencia artificial. Estoy en busca de nuevas oportunidades para aplicar mis habilidades y contribuir a soluciones impactantes. ¡Únase a mí en este emocionante viaje!
    </p>
    <span class="separator"></span>
    <div *ngIf="notionPage">
        <h2>{{notionPage.title}}</h2>
        <ng-template ngFor let-block [ngForOf]="notionPage.blocks">
            <p>
                {{block.text}} <ng-container *ngIf="block.link">
                    <mat-icon fontIcon="link" (click)="openLink(block.link)"></mat-icon>
                </ng-container>
            </p>

        </ng-template>
        
    </div>
</div>
